body {
    font-family: 'poppins';
    background-color: lightgrey;
}
h2, p, .readme-wrapper {
    text-align: center;
    }
a {
    text-decoration: none;
    color: black; 
}
a:hover {
    color: purple;
    cursor: pointer;
    font-weight: 600;
}
span {
    color: red;
    font-weight: 700;
}
.boxes {
    margin-left: 3vh;
    margin-bottom: 3vh;
    padding: 1%;
    border: solid red;
    border-radius: 3vw;
    width: 30em;
    display: block;
}
#box1 {
    background: rgb(0, 0, 255);
}
#box2 {
    background: rgba(0, 0, 200);
}

#box3 {
    background: rgba(0, 0, 150);
}
#box4 {
    background: rgba(0, 0, 100);
}
.images {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: purple;
    position: absolute;
    left: 11vh;
}
h1 {
    color: gold;
}
.original {
    color: aquamarine;
}
.additional {
    color: magenta;
}

#show1 {
    color: brown;
}
#show2 {
    color: rgb(165, 69, 42);
}
#show3 {
    color: rgb(165, 112, 42);
}
#show4 {
    color: rgb(165, 159, 42);
}
#show5 {
    color: rgb(128, 165, 42);
}
ul {
    color: darksalmon;
}
.star {
    color: darkkhaki;
}
#wars {
    color: greenyellow;
}
.lists {
    border: solid black 2px;
}